{% extends "layout.html" %}
{% block body %}
<div class='w-50 mx-auto my-2 p-1 text-white text-center container'><h4>{{log_in_message}}</h4></div>
<div class='row no-gutters container'>
      <div class='col p-5'>
        <form class='form-inline border   p-4' action="{{url_for('login')}}" method="post">
            <legend class=' text-white text-center'>Sign Up</legend>
            <div class="form-group text-white ">
              <label for="email"><h5>Email: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </h5></label>
              <input class='form-control w-73 m-1' type="email"  name="email" required>
            </div>
            <div class="form-group text-white">
              <label for="userPassword" ><h5>Password: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h5></label>
              <input class='form-control w-73 m-1' type="password" id='userPassword' onkeyup="passwordMatch()" name="userPassword" minlength="8" maxlength="15" required >
            </div>
            <div class="form-group text-white">
              <label for="userPassword"><h5>Confirm Password:</h5></label>
              <input class='form-control w-73 m-1' type="password" id='userPasswordRepeat' onkeyup="passwordMatch()" name="userPasswordRepeat" minlength="8" maxlength="15" required>
            </div>
            <button class="btn btn-success m-1 w-120" id='submitSignUpForm' type="submit">Sign Up</button>
        </form>
    </div>
    <div class='col p-5'>
        <form class='form-inline border border-white p-5' action="{{url_for('login')}}"  method="post">
            <legend class='text-center text-white'>Sign In</legend>
            <div class="form-group text-white">
              <label for="emailLogIn"><h5>Email: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </h5></label>
              <input class='form-control w-51 m-1' type="email" name="emailLogIn" required>
            </div>
            <div class="form-group text-white">
              <label for="userPasswordLogIn" ><h5>Password: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h5></label>
              <input class='form-control w-51 m-1' type="password"  name="userPasswordLogIn" required>
            </div>
            <button class="btn btn-success m-1 w-120" type="submit">Sign In</button>
        </form>
    </div>
</div>

{% endblock %}
